Package: python3-pypeg2
Source: pypeg2
Version: 2.15.2-1
Architecture: all
Maintainer: Fritz Reichwald <mail@fritzreichwald.de>
Installed-Size: 229
Depends: python3-lxml, python3:any (>= 3.3.2-2~)
Section: python
Priority: optional
Homepage: https://bitbucket.org/fdik/pypeg/
Description: Intrinsic PEG Parser-Interpreter for Python
 Python is a nice scripting language. It even gives you access to its own parser
 and compiler. It also gives you access to different other parsers for special
 purposes like XML and string templates.
 .
 But sometimes you may want to have your own parser. This is what's pyPEG for.
 And pyPEG supports Unicode.
